
:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

- Font size: 15px

### Fonts

- Family: [Alata](https://fonts.google.com/specimen/Alata)
- Weight: 400

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weight: 300


*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    margin: 0 auto;
    padding: 0; 
    min-width: 375px;
}

img {
    max-width: 100%;
  }

.desktop-img{
    display: none;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    background-image: url("./images/mobile/image-hero.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}



.mobile-menu{
    display: relative;
    background: black;
    height: 100vh;
    display: none;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 20rem;
    top: 5rem;
    position: absolute;
    width: 90%;
    margin: 0 auto;
}

.header__Primary--nav{
    width: 100%;
}

.header__logo{
    height: 3rem;
    position: absolute;
    top: 0;
}

.hamburger{
    position: absolute;
    right: 0;
    top:0;
    display: block;
}

.hamburger__open{
    display: block;
}

.hamburger__close{
    display: none;
}

.navlink{
    padding-top: 10rem;
    list-style: none;
    padding: 0;
    line-height: 5rem;
    display: none;
}

a.nav--links{
    text-decoration: none;
    color: white;
    font-size: 4rem;
}

.hero-title{
    text-transform: uppercase;
    border: 0.3rem solid white;
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
    transform: translateY(135%);
}

.hero-title h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 100;
    margin: 0;
    letter-spacing: .5rem;
}

.section{
    margin: 10rem auto;
}

.interactive{
    text-align: center;
}

.interactive h2{
    font-size: 4rem;
}

.interactive p{
    font-size: 2rem;
    line-height: 2;
}

.grid{
    margin: 5rem auto;
}

.grid h3{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.grid-item{
    position: relative; 
    margin: 2rem auto;
}


.title{
    position: absolute;
    text-transform: uppercase;
    font-size: 2rem;
    top: 3rem;
    color: white;
    margin-left: 2rem;
    width: 35%;
}

.title_grid{
    width: 20%;
}

.title__text{
    opacity: 0.8;
}

.btn{
    border: 0.1rem solid black;
    padding: 1.2rem 3.5rem;
    display: block;
    margin: 1rem auto;
    width: 30%;
}

a.btn{
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

.footer-cont{
    background: var(--Black);
    color: (--White);
    display: flex;
    flex-direction: column;
    align-items: center
}


.secondary-nav nav{
    /* margin: 5rem auto; */
    text-align: center;
}

.secondary-logo{
    display: flex;
    flex-direction: column;
    align-items: center
}
.fot__logo{
    padding: 3rem;
}

ul.fot_nav-link{
    list-style: none;
    padding: 0;
}

li.fot_nav-link{
    color: red;
}

.fot_nav-links {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    line-height: 2.5;
}

.fot__para{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}


.socials{
    display:flex;
    justify-content: space-around;
    margin: 50px auto;
    width: 50%;
    padding: 0;
   
}

.social-item{
   
}

.active {
    display:block;
  }

.none{
    display:none;
}

.attribution{
    text-align: center;
}

@media (min-width: 500px){
    
html {
  font-size: ;  
}

.header{
    background-image: url("./images/desktop/image-hero.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.hamburger{
    display:none;
}


ul.navlink{
    list-style: none;
    padding: 0;
    display: flex;
}

a.nav--links{
    text-decoration: none;
    color: white;
    margin-left: 10rem;
    font-size: 3rem;
}

.hero-title{
    text-transform: uppercase;
    border: 0.3rem solid white;
    width: 50%;
    padding: 3rem;
    position: absolute;
    transform:translateY(60%);
}

}