@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}



*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family:'Josefin Sans', sans-serif; ;
    margin: 0;
    padding: 0; 
}

img {
    max-width: 100%;
  }

h1,
h2,
h3,
h4{
    font-family:'Alata', sans-serif;
}



.container{
    max-width: 100%;
    width: 1440px;
    margin: 0 auto; 
}

.header{
    background-image: url("./images/mobile/image-hero.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}

.mobile-menu{
    position: relative;
    background: black;
    height: 100vh;
    display: none;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 20rem;
    top: 5rem;
    left: 2rem;
    position: absolute;
    width: 90%;
    margin: 0 auto;
}

.header__Primary--nav{
    width: 100%;
    
}

.header__logo{
    height: 3rem;
    position: absolute;
    top: 0;
}

.hamburger{
    position: absolute;
    right: 0;
    top:0;
    display: block;
}

.hamburger__open{
    display: block;
}

.hamburger__close{
    display: none;
}

.navlink{
    padding-top: 10rem;
    list-style: none;
    padding: 0;
    line-height: 5rem;
    display: none;
    
}

a.nav--links{
    text-decoration: none;
    color: white;
    font-size: 4rem;
}

.hero-title{
    text-transform: uppercase;
    border: 0.3rem solid white;
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
    transform: translateY(135%);
}

.hero-title h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
}

.section{
    margin: 10rem auto;
}

.section_img {
    margin: 0 ;
    width: 100%;
}

.mobile-img{
    display: flex;
    justify-content: center;
    align-items: center;

}

.desktop-img {
    display: none;
}

.interactive{
    text-align: center;
}

.interactive h2{
    font-size: 4rem;
    font-weight: 100;
}

.interactive p{
    font-size: 2rem;
    line-height: 2;
}

.grid{
    margin: 5rem auto;
}

.grid h3{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
}

.grid-item{
    position: relative; 
    margin: 2rem auto;
}


.title{
    position: absolute;
    text-transform: uppercase;
    font-size: 2rem;
    top: 3rem;
    color: white;
    margin-left: 2rem;
    width: 35%;
}

.title_grid{
    width: 20%;
}

.title__text{
    opacity: 0.8;
    font-weight: 100;
}

.btn{
    border: 0.1rem solid black;
    padding: 1.2rem 3.5rem;
    display: block;
    margin: 1rem auto;
    width: 30%;
}

a.btn{
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    color: black;
}

.footer-cont{
    background: var(--Black);
    color: (--White);
    display: flex;
    flex-direction: column;
    align-items: center
}


.secondary-nav nav{
    text-align: center;
}

.secondary-logo{
    display: flex;
    flex-direction: column;
    align-items: center
}
.fot__logo{
    padding: 3rem;
}

ul.fot_nav-link{
    list-style: none;
    padding: 0;
}

li.fot_nav-link{
    color: red;
}

.fot_nav-links {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    line-height: 2.5;
}

.fot__para{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}


.socials{
    display:flex;
    justify-content: space-around;
    margin: 50px auto;
    padding: 0;
    width: 45%;
}

.social-item{
   
}

.active {
    display:block;
  }

.none{
    display:none;
}

.attribution{
    text-align: center;
}


    @media (min-width: 800px){
    
    html{
        font-size: 8px;
    }

    body{
        
    }

    .container{
        width: 1440px;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .mobile-img{
        display: none;
    }

    .desktop-img{
        display: block;
    }

    .header{
        background-image: url("./images/desktop/image-hero.jpg");
        background-size: cover;
        background-position: center center;
        height: 100vh;
        position: static;
    }

    .hamburger{
        display:none;
    }

    .navigation{
        position: static;
        align-items: baseline;
        top: 0rem;
        padding: 10rem 0;
        width: 100%;
    }

    .navlink{
        justify-content: flex-end
    }

    .header__logo{
        position: static;
        height: 3rem;
        transform: translateY(25%)
    }
    
    ul.navlink{
        list-style: none;
        padding: 0;
        display: flex;
    }

    

    a.nav--links{
        margin-left: 5rem;
        font-size: 2.5rem;
    }

    .hero-title{
        position: static;
        text-align: left;
        border: none;
        transform: translateY(10vh);
    }

    .hero-title h1{
        font-size: 13.5rem;
        width: 60%;
        border: 0.3rem solid white;
        padding: 2.5rem 5rem;
        line-height:1;
    }

    .section{
        margin: 20rem auto;
        display: flex;
        position: relative;
    }

    .section_img{
        width: 70%;
    }

    .section_img img{
        width: 100%;
    }

    .interactive{
        text-align: left;
        width: 45%;
        position: absolute;
        padding: 15rem 0 0 15rem;
        bottom: 0;
        transform: translateX(122%);
        background: white;
        color: black;   
    }

    
    .interactive h2{
        font-size: 6rem;
        text-transform: uppercase;
        margin: 0;
    }

    .interactive p{
        font-size: 2.5rem;
        line-height: 1.5;
    }

   .grid{
        margin: 20rem auto;
        position: relative;
    }

    .grid h3{
        text-align: left;
        font-size: 5rem;

    }

    .grid-img{
        display: flex;
        flex-wrap: wrap;
        /* gap: .1rem; */
    }

    .grid-item{
        width: 24%;
    }

    .grid-item img{
        width: 100%;
    }

    .btn{
        width: 10%;
        position: absolute;
        top: 0;
        padding: 1.5rem 4rem;
        right: 0;
    }

    a.btn{
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
        color: black;
    }

    .title{
        font-size: 4rem;
        color: white;
        width: 45%;
        margin-left: 7rem;
        top: 72%;
    }

    .title_grid{
        width: 20%;
    }

    .footer-cont{
        display:block;
    }

    .secondary-logo{
    flex-direction: row
    }

    .fot__logo{
        padding: 4rem 0;
     
    }

    ._fot{
    
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
    }

    .fot_nav-link{
        display: flex;
    }

    .fot_nav-links {
       margin-right: 6rem;
       font-size: 3rem;
    }

    a.social-item{
        margin: 0;
    }

    .social{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
    }

    .socials{
        margin: 0;
        padding: 4rem 0;
        justify-content: space-between;
        width: 50%;
    }

    .social-item li{
        /* margin: 1rem; */
    }

    .fot__para{
        font-size: 3rem;
    }
    
    

}